@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

:root {
    --common-font-family: "Roboto", "Noto Sans KR", Arial, sans-serif;
    --font-family: var(--common-font-family);
    --display-font-family: var(--common-font-family);
    --font-family-narrow: var(--common-font-family);
    --display-font-family-narrow: var(--common-font-family);
    --ytd-user-comment-font-family: var(--common-font-family);
    --ytd-caption-font-family: var(--common-font-family);
    --ytd-video-primary-info-renderer-title-font-family: var(--common-font-family);
    --yt-formatted-string-strikethrough-font-family: var(--common-font-family);
}

html,
body {
    font-family: var(--common-font-family);
    font-size: 16px;
}

button,
input,
textarea,
select {
    font-family: var(--common-font-family);
    font-size: inherit;
}

body *,
body *::before,
body *::after {
    font-family: var(--common-font-family) !important;
}
